fastapi
uvicorn
openai
python-dotenv
requests
beautifulsoup4
pydantic
Pillow
duckdb
pandas
markdown
pydub
flask
torch
pathlib
gitpython
numpy
speechrecognition
faker
numpy==1.23.5
pandas
pytesseract
nodeenv

